:root {
  /* Brand Colors */
  --color-brand-ivory: #f0e7d5;
  --color-brand-lilac: #ababe9;
  --color-brand-blue: #0062d5;
  --color-brand-green: #1f7c45;
  --color-brand-red: #f23200;

  /* Foreground Colors */
  --color-foreground-base: #141414;
  --color-foreground-base-alpha: rgba(0, 0, 0, 0.6);
  --color-foreground-invert: #ffffff;
  --color-foreground-invert-alpha: rgba(255, 255, 255, 0.8);
  --color-foreground-horizontal-rule: rgba(0, 0, 0, 0.1);
  --color-foreground-accent: #f08e80;
  --color-foreground-accent-dark: #db7262;
  --color-foreground-yellow: #ffbf00;

  /* Background Colors */
  --color-background-panel: #ffffff;
  --color-background-invert-panel: #000000;
  --color-background-page: #f5f5f5;
  --color-background-accent: #f08e80;

  /* Controls Colors */
  --color-controls-accent-primary: #f08e80;
  --color-controls-accent-secondary: #ffffff;
  --color-controls-accent-text: #141414;
  --color-controls-inactive-stroke: #dddddd;
  --color-controls-bg: #ffffff;
  --color-controls-monochrome-black: #000000;
  --color-controls-monochrome-white: #ffffff;

  /* Spacing */
  --spacing-panel-inner-row-gap: 16px;
  --spacing-panel-side-padding: 12px;
  --spacing-panel-bottom-padding: 24px;
  --spacing-panel-radius: 12px;
  --spacing-form-item-gap: 12px;
  --spacing-outside-panels: 12px;

  /* Font Families */
  --font-family-base: "Avenir", sans-serif;
  --font-family-docs: "Helvetica Neue", Arial, sans-serif;
} 